body {
    text-align: center;
    background-color:rgb(234, 211, 206);
}

img {
    justify-content: center;
    text-align: center;
    border: 20;
    box-shadow: 0px 0px 30px;
    width: 35%;
}
canvas {
    box-shadow: 0px 0px 30px;
}

button {
    border-radius: 2px;
    
}